BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true
PointerAlignment: Left
ReferenceAlignment: Left
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<.*>'
    Priority:        1
  - Regex:           '^".*"'
    Priority:        2
